<!DOCTYPE html>
<html>
<head>
    <title>SPACE</title>

    <link href="public/css/index.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-gv0oNvwnqzF6ULI9TVsSmnULNb3zasNysvWwfT/s4l8k5I+g6oFz9dye0wg3rQ2Q" crossorigin="anonymous">
</head>
<body>
    <div id="content">
        <div id="left-column">
            
        </div>

        <div id="center-column">
            <div id="messages">
                <div id="first-message"></div>
            </div>

            <div id="text-input-div" class="input-group">
                <input id="text-input" type="text" class="form-control" placeholder="What will you do?">
            </div>
            <div id="cover">
            </div>
        </div>

        <div id="right-column">
            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="public/js/index.js"></script>

</body>
</html>